
# Node.js
node_modules/
npm-debug.log

# dotenv environment variable files
.env

# Logs
logs
*.log
logs/*

# Dependency directories
jspm_packages/

# IDEs and Editors
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Next.js build directory
.next/

# Build output
/dist/
/build/